body{
    font-family: 'Quicksand', sans-serif;
}
.carousel-section, .categories-section, .shoes-section, .backpack-section{
    margin-bottom: 60px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 40px 40px;
}
.Price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.buy-now-button:hover{
    background-image: linear-gradient(to bottom, #ff136f 0%, #ff589b 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 15px 30px;
    border-radius: 10px;
}
.cat1{
    background-image: linear-gradient(to right, rgb(207, 149, 24) 0%, rgb(255, 196, 87) 100%);
}
.cat2{
    background-image: linear-gradient(to right, rgb(170, 0, 119) 0%, rgb(255, 71, 209) 100%);
}
.cat3{
    background-image: linear-gradient(to right, rgb(33, 18, 247) 0%, rgb(66, 91, 231) 100%);
}
.categories h1{
    color: white;
}
.categories img{
    width: 120px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgb(228, 228, 228);
}
.card-price-color{
    color: #ff136f;
}
.card-text{
    color: gray;
}
.half-width{
    width: 50%;
    float: left;
}
.title-bg-shoes{
    padding: 5px 10px;
    border-left: 7px solid;
    border-bottom: 1px solid #000;
    border-image: linear-gradient(to bottom, blue, rgb(0, 195, 255));
    border-image-slice: 1;
}
.title-bg-backpack{
    padding: 5px 10px;
    border-left: 7px solid;
    border-bottom: 1px solid #000;
    border-image: linear-gradient(to bottom, #ff136f, #ff83b3);
    border-image-slice: 1;
}
#subscribe{
    height: 300px;
}
#subscribe p{
    color: gray;
}
.subscription-section, .nav-bar{
    margin-bottom: 10px;
}
footer{
    color: grey;
    background-color: rgb(241, 241, 241);
    padding: 10px 0px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}
