.container{
    margin-bottom: 70px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 40px 40px;
}
.Price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 15px 30px;
    border-radius: 10px;
}
.cat1{
    background-image: linear-gradient(to right, rgb(207, 149, 24) 0%, rgb(255, 196, 87) 100%);
}
.cat2{
    background-image: linear-gradient(to right, rgb(170, 0, 119) 0%, rgb(255, 71, 209) 100%);
}
.cat3{
    background-image: linear-gradient(to right, rgb(33, 18, 247) 0%, rgb(66, 91, 231) 100%);
}
.categories h1{
    color: white;
}
.categories img{
    width: 120px;
}